<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agent Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='agent_details.css') }}">
</head>
{% include 'header.html' %}
<body>
<div class="container">
    {% for agent in agent %}
    <div class="card" style="background-image: url('{{ agent[4] }}');">
        <img class="agent-image" src="{{ agent[3] }}" alt="Image of {{ agent[1] }}">
        <div class="agent-card-content">
            <h3 class="agent-description">{{ agent[2] }}</h3>
        </div>
    </div>
    {% endfor %}

    <div class="abilities-container">
        {% for ability in abilities %}
        <div class="card">
            <img class="ability-image" src="{{ ability[2] }}" alt="Image of {{ ability[0] }}">
            <h2 class="ability-name">{{ ability[0] }}</h2>
            <div class="ability-card-content">
                <h3 class="ability-description">{{ ability[1] }}</h3>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</body>
</html>
