/* styles.css */

body {
    background: #2c2c2c;
}

.card-link {
    color: black;
    display: inline-block;
}

.card {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 30rem;
    height: 40rem;
    margin: 20px;
    padding: 15px;
    box-shadow: 2px 2px 12px #aaa;
    background-size: cover;
    background: crimson center;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: scale(1.07);
    box-shadow: 5px 5px 15px #888;
}

.agent-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}

.card-content {
    position: absolute;
    bottom: 10px;
    left: 15px;
    right: 15px;
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
}

.card-name {
    font-size: 1.5em;
    margin: 0.5em 0;
}

.card-role {
    font-weight: bold;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 600px) {
    .card {
        width: 90%;
        height: auto;
    }
}

.search-container {
    margin: 1rem;
    text-align: right;
}

.role-buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    justify-content: flex-end;
    margin-right: 1rem;
}

.role-buttons button {
    padding: 10px 20px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    background-color: crimson;
    color: black;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.role-buttons button:hover {
    background-color: #9F0E2B;
}

