body {
    background: #2c2c2c;
}

.card {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 30rem;
    height: 42rem;
    margin: 20px;
    padding: 15px;
    box-shadow: 2px 2px 12px #aaa;
    background-size: cover;
    background: crimson center;
    overflow: hidden;
}

.agent-image, .ability-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}

.agent-card-content, .ability-card-content {
    position: absolute;
    bottom: 10px;
    left: 15px;
    right: 15px;
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
}

.ability-name {
    position: absolute;
    top: 10px;
    left: 15px;
    right: 15px;
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;

}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.abilities-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}